<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhm.mapper.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.lhm.pojo.Department" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dep_name" property="depName" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="department_head_name" property="departmentHeadName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <select id="selectDepartmentByPageHelper" parameterType="com.lhm.pojo.Department" resultMap="BaseResultMap">
        select * from department where 1 = 1
        <if test="depName!=null and depName!=''">and dep_name=#{depName}</if>
        order by create_time desc
    </select>

</mapper>