<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhm.mapper.FloorMapper" >
  <resultMap id="BaseResultMap" type="com.lhm.pojo.Floor" >
    <id column="id" property="floorId" jdbcType="INTEGER" />
    <result column="floor_name" property="floorName" jdbcType="VARCHAR" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
    <insert id="addFloor" parameterType="com.lhm.pojo.Floor" useGeneratedKeys="true" keyProperty="id">
        insert into floor(floor_name,descr,create_time) values (#{floorName},#{descr},#{createTime})
    </insert>
    <select id="getAllFloor" resultMap="BaseResultMap">
        select * from floor
    </select>
    <select id="selectFloorByPageHelper" resultMap="BaseResultMap">
        select * from floor
        <where>
            <if test="floorName!=null and floorName!=''">
                floor_name like "%"#{floorName,jdbcType=VARCHAR}"%"
            </if>
        </where>
    </select>
    <select id="getFloorById" resultType="com.lhm.pojo.Floor">
        select floor_name from floor where id = #{floorId}
    </select>

</mapper>