<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhm.mapper.StaffMapper" >
  <resultMap id="BaseResultMap" type="com.lhm.pojo.Staff" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
    <insert id="saveStaff" parameterType="com.lhm.pojo.Staff" useGeneratedKeys="true" keyProperty="id">
        insert into staff(staff_name,telephone,address,title,create_time) values (#{staffName},#{telephone},#{address},#{title},#{createTime})
    </insert>

    <select id="getAllStaff" resultMap="BaseResultMap">
        select * from staff
    </select>

    <select id="selectStaffByPageHelper" resultType="com.lhm.pojo.Staff">
        select * from staff
        <where>
            <if test="staffName!=null and staffName!=''">
                staff_name = #{staffName}
            </if>
            <if test="title!=null and title!=''">
                and title = #{title}
            </if>
        </where>


    </select>

</mapper>