<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhm.mapper.StuMapper" >
  <resultMap id="BaseResultMap" type="com.lhm.pojo.Stu" >
    <id column="stu_number" property="stuNumber" jdbcType="INTEGER" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="dep_id" property="depId" jdbcType="INTEGER" />
    <result column="major_id" property="majorId" jdbcType="INTEGER" />
    <result column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
    <insert id="save" parameterType="com.lhm.pojo.Stu">
        insert into stu(stu_number,stu_name,telephone,address,dep_id,major_id,class_id,room_id,sex,create_time)
        values (#{stuNumber},#{stuName},#{telephone},#{address},#{depId},#{majorId},#{classId},#{roomId},#{sex},#{createTime})
    </insert>
    <select id="getAllStudent" resultMap="BaseResultMap">
        select * from stu
    </select>
    <select id="selectStuByPageHelper" resultMap="BaseResultMap" parameterType="com.lhm.pojo.Stu">
        select * from stu
        <where>
            <if test="stuName!=null and stuName!=''">
                stu_name like "%"#{stuName,jdbcType=VARCHAR}"%"
            </if>
            <if test="depId!=null and depId!=''">
                and dep_id = #{depId}
            </if>
            <if test="majorId!=null and majorId!=''">
                and major_id = #{majorId}
            </if>
            <if test="classId!=null and classId!=''">
                and class_id = #{classId}
            </if>
            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
            <if test="sex!=null and sex!=''">
                and sex = #{sex}
            </if>
        </where>
    </select>
</mapper>