<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhm.mapper.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="com.lhm.pojo.SystemLog" >
    <id column="sys_id" property="sysId" jdbcType="INTEGER" />
    <result column="ip_address" property="ipAddress" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="created_user_id" property="createdUserId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
    <insert id="save" parameterType="com.lhm.pojo.SystemLog">
        insert into system_log(ip_address,remark,resource_name,created_user_id,create_date) values(#{ipAddress},#{remark},#{resourceName},#{createdUserId},#{createDate})
    </insert>
    <select id="selectSysLogByPageHelper" resultType="com.lhm.pojo.SystemLog">
        select * from system_log
    </select>

</mapper>